<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Flight Search</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/jquery-ui.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/effects.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
              rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <!-- Header -->
        <div id="top" class="page-container">
            <div>
                <div class="form-container">
                    <form class="form-inline" role="form">
                        <div class="form-group group">
                            <input type="text" class="form-control" id="fromLocation">
                            <label for="fromLocation">From : </label>
                        </div>
                        <div class="form-group group">
                            <input type="text" class="form-control" id="toLocation">
                            <label for="toLocation">To : </label>
                        </div>
                        <div class="form-group group">
                            <input type="date" class="form-control" id="travel-date">
                        </div>
                        <div class="group">
                            <input type="button" id="searchFlights" value="Search" class="button buttonBlue">
                        </div>
                        <div class="alert alert-danger error-msg"></div>
                    </form>
                </div>
            </div>



            <div class="data-container">
                <ul class="dates">
                    <li class="date"></li>
                    <li class="date"></li>
                    <li class="date"></li>
                    <li class="date"></li>
                    <li class="date"></li>
                </ul>
            </div>
        </div>





        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/jquery-ui.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>


        <!--custom scripts-->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/effects.js"></script>

    </body>

</html>
